<ng-container *ngIf="gameList$">
    <div class="gameList__container">
        <div *ngFor="let game of gameList$ | async">
            <div class="row">
                <div class="col-md-2">
                    <div class="gameList__gameCover">
                        <img [src]="game.assets['cover-medium'].uri" alt="" [routerLink]="['/games', game.id]">
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="gameList__gameName">
                        <span [routerLink]="['/games', game.id]">{{game.names.international}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
